@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply font-semibold leading-tight text-4xl mt-0 mb-2 text-base-white;
}
h2 {
  @apply font-semibold leading-tight text-3xl mt-0 mb-2 text-base-white;
}
h3 {
  @apply font-semibold leading-tight text-2xl mt-0 mb-2 text-base-white;
}
p {
  @apply font-light leading-relaxed text-base mt-0 mb-4 text-base-white;
}
main {
  @apply min-h-screen flex flex-col justify-center items-center;
}

@layer utilities {
  .text-pink-500 {
    color: rgb(236 72 153);
  }
}

.nbr-block-p {
  @apply text-base-white;
}

.nbr-inline-code {
  @apply text-pink-500 text-sm px-2 py-1 font-normal rounded break-words bg-slate-400;
}
.nbr-caption {
  @apply text-inherit opacity-70;
}
.nbr-link {
  @apply text-inherit no-underline border-b border-solid border-gray-700 opacity-70;
}
.nbr-block-quote {
  @apply border-l-4 border-solid border-gray-700 px-4 py-2;
}
.nbr-block-code {
  @apply text-sm bg-base-white;
}
/* Hide only scrollbar */
.nbr-block-code pre::-webkit-scrollbar {
  @apply hidden !important;
}
.nbr-block-code .syntax-highlighter-pre {
  @apply rounded-lg;
  @apply p-5 !important;
  @apply bg-slate-400;
}
.nbr-block-callout {
  @apply bg-gray-100 pr-6 py-5 pl-4 rounded flex;
}
.nbr-block-callout .nbr-icon {
  @apply min-w-min w-4 relative top-0.5;
}
.nbr-block-callout .nbr-callout {
  @apply overflow-hidden w-full;
  -webkit-margin-start: 8px;
  margin-inline-start: 8px;
}
.nbr-block-ul {
  @apply pl-4 list-disc text-base-white;
}
.nbr-block-ol {
  @apply pl-4 list-decimal text-base-white;
}
/* Add margin-bottom for each block */
.nbr-blocks > div {
  @apply mb-4;
}
.nbr-block-table_of_contents {
  @apply p-5 list-disc bg-gray-100 rounded;
}
.nbr-block-table_of_contents > div {
  @apply my-1;
}
.nbr-block-table_of_contents a {
  @apply underline text-gray-600;
}

.view-more-text::after {
  content: attr(data-text);
  position: absolute;
  color: white;
  font-size: 1rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s;
  opacity: 0;
  z-index: 2;
}

.view-more-text:hover::after {
  opacity: 1;
}

.view-more-text::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 90%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-image: url(../../public/icon_arrow-white.svg);
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 2;
}

.view-more-text:hover::before {
  opacity: 1;
}

.black-mask-40 {
  transition: opacity;
  transition-duration: 300ms;
  transition-delay: 150ms;
}

.black-mask-40:hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  /* transition: opacity 300ms; */
}
